<div class="card mt-4">
    <div class="card-body">
        <h1>{{Postagem.Titulo}}</h1>
        <hr>
        <small>Data de publicação: {{Postagem.Data}}</small><br>
        <hr>
        {{Postagem.Conteudo}}
    </div>
</div>
